root@95-163-243-208:/lib/systemd/system# cat api.service 
[Unit]
Description=api
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/cosmocode_api
Environment="PATH=/usr/local/bin/cosmocode_api/venv/bin:$PATH"
ExecStart=/bin/bash -c "source /usr/local/bin/cosmocode_api/venv/bin/activate && /usr/local/bin/cosmocode_api/venv/bin/python /usr/local/bin/uvicorn main:app --port 8000 --reload"
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target
