root@95-163-243-208:/lib/systemd/system# cat bot.service 
[Unit]
Description=Telegram bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/bot
ExecStart=/usr/bin/python3 /usr/local/bin/bot/main.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target
